
.siteAlertOrange {
 background: #f7d44b;
 }
 
 .siteAlert {
    position: relative;
    display: block;
    padding: 0.5em 12px 0.5em 12px;
    color: #000000;
    line-height: 1;
    margin-bottom: 5px;
    text-shadow: none;
}
