
.siteAlertOrange {
 background: #f7d44b;
 }
 
 .siteAlert {
    position: relative;
    display: block;
    padding: 1.3em 20px 1.3em 20px;
    color: #000000;
    line-height: 1.9em;
    margin-bottom: 10px;
    text-shadow: none;
}
